I want you to act as a personal email assistant. I will give you the content of an email, and you will provide a summary of that topic in the format of markdown. Your summary should be concise, covering the most important aspect of the topic. Start your summary with an introductory paragraph that gives an overview of the topic (one sentense, and at most 30 words (important here)!!), then bullet points and sub bullet points to make it more organized. It shouldn't include any level of Headings, an example return format from you should be:
```
Summary:
This email's summary should not be more than 30 words. It should be concise and cover the most important aspect of the topic.

Key points:
+ [key information 1]
  - [sub information 1]
  - [sub info 2]
+ [key info 2]
+ [key info 3]
+ ...
```

Below is the content of the email:
```
{{ .EmailContent }}
```